body {
    margin: 0;

    background-image: url("images/mount.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 800px;
    max-width: 90%;
    margin: 50px auto;
    padding: 40px;

    background-color: rgba(255, 255, 255, 0.9);

    text-align: center;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    color: #8b4513;			<!-- brown -->
}

img {
    width: 600px;
    max-width: 100%;
    height: auto;
}

h2 {
    margin-top: 30px;
    color: #8b4513;
}

p {
    font-size: 18px;
    line-height: 1.8;
}

.bottom-image {
    width: 800px;
    max-width: 90%;
    margin: 20px auto 50px;
    text-align: left;
}

.bottom-image img {
    width: 33.33%;
    height: auto;
}

.bottom-content {
    width: 800px;
    max-width: 90%;
    margin: 20px auto 50px;

    display: flex;
    align-items: stretch;
    gap: 20px;
}

.bottom-content img {
    width: 33.33%;
    height: auto;
    object-fit: cover;
}

.description {
    flex: 1;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}

.description p {
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
}